<li class="separator acl-write"></li>
<li id="align" class="acl-write">
    <select id="align-selection">
        <option value="dummy" selected data-l10n-id="ep_align.style">Style</option>
        <option value="-1" data-l10n-id="ep_align.normal">Normal</option>
        <option value="0" data-l10n-id="ep_align.h1">Heading 1</option>
        <option value="1" data-l10n-id="ep_align.h2">Heading 2</option>
        <option value="2" data-l10n-id="ep_align.h3">Heading 3</option>
        <option value="3" data-l10n-id="ep_align.h4">Heading 4</option>
        <option value="4" data-l10n-id="ep_align.h5">Heading 5</option>
        <option value="5" data-l10n-id="ep_align.h6">Heading 6</option>
        <option value="6" data-l10n-id="ep_align.code">Code</option>
        
    </select>
</li>
