<li class="separator acl-write"></li>
<li id="align" class="acl-write">
  <a class="grouped-left ep_align ep_align_left" title="Align Left">
    <span class="buttonicon"></span>
  </a>
</li>
<li id="align" class="acl-write">
  <a class="grouped-middle ep_align ep_align_center" title="Align Center">                         
    <span class="buttonicon"></span>
  </a>
</li>
<li id="align" class="acl-write">
  <a class="grouped-middle ep_align ep_align_justify" title="Align Justify">
    <span class="buttonicon"></span>
  </a>
</li>
<li id="align" class="acl-write">
  <a class="grouped-right ep_align ep_align_right" title="Align Right">                         
    <span class="buttonicon"></span>
  </a>
</li>
<style>

  .ep_align{
    font-family:font-awesome;

  }

  .ep_align > .buttonicon {
    top:2px!important;
  }

  .ep_align_left > .buttonicon:before{
    content:"\e800";
  }
  .ep_align_center > .buttonicon:before{
    content:"\e80f";
  }
  .ep_align_justify > .buttonicon:before{
    content:"\e811";
  }
  .ep_align_right > .buttonicon:before{
    content:"\e810";
  }
	
</style>
