<li class="separator acl-write"></li>
<li id="align" class="acl-write">
    <select id="align-selection">
        <option value="dummy" selected data-l10n-id="ep_align.style">Style</option>
        <option value="0" data-l10n-id="ep_align.left">Left</option>
        <option value="1" data-l10n-id="ep_align.center">Center</option>
        <option value="2" data-l10n-id="ep_align.justify">Justify</option>
        <option value="3" data-l10n-id="ep_align.right">Right</option>
    </select>
</li>
