<li class="separator acl-write"></li>

<li data-type="button" data-key="alignLeft" data-l10n-id="ep_align.toolbar.left.title">
  <a class="grouped-left ep_align buttonicon buttonicon-align-left ep_align_left"
     role="button" tabindex="0"
     data-align="0"
     data-l10n-id="ep_align.toolbar.left.title"
     title="Align Left"></a>
</li>

<li data-type="button" data-key="alignCenter" data-l10n-id="ep_align.toolbar.center.title">
  <a class="grouped-middle ep_align buttonicon buttonicon-align-center ep_align_center"
     role="button" tabindex="0"
     data-align="1"
     data-l10n-id="ep_align.toolbar.center.title"
     title="Align Center"></a>
</li>

<li data-type="button" data-key="alignRight" data-l10n-id="ep_align.toolbar.right.title">
  <a class="grouped-middle ep_align buttonicon buttonicon-align-right ep_align_right"
     role="button" tabindex="0"
     data-align="3"
     data-l10n-id="ep_align.toolbar.right.title"
     title="Align Right"></a>
</li>

<li data-type="button" data-key="alignJustify" data-l10n-id="ep_align.toolbar.justify.title">
  <a class="grouped-right ep_align buttonicon buttonicon-align-justify ep_align_justify"
     role="button" tabindex="0"
     data-align="2"
     data-l10n-id="ep_align.toolbar.justify.title"
     title="Align Justify"></a>
</li>
