<hr>
<li><a href="#" data-key="align">Align</a>
  <ul class="submenu">
    <li><a href="#" class="ep_align_left">Left</a></li>
    <li><a href="#" class="ep_align_center">Center</a></li>
    <li><a href="#" class="ep_align_right">Right</a></li>
    <li><a href="#" class="ep_align_justify">Justify</a></li>
  </ul>
</li>

